In [13]:
import numpy as np
import pandas as pd
from numpy.random import choice, randint
import matplotlib.pyplot as plt

import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

db = firestore.client()

In [27]:
devs = db.collection('developers')
languages = {
    u"python":50,
    u"node":25,
    u"go":10,
    u"c#":-10,
    u"c++":25,
    u"c":50,
}

for i in range(200):
    dev = {
        "firebase": randint(0,2),
        "language": choice(list(languages.keys())),
        "age": randint(0,99),
    }
    
    r = randint(-25, 25)
    dev['happiness'] = r + languages[dev['language']] + (25 if dev['firebase'] else -25)
    devs.add(dev)

In [31]:
docs = devs.get()
data = []
for doc in docs:
    data.append(doc.to_dict())
df = pd.DataFrame(data)
df.to_csv('developers.csv', index=False)

In [34]:
df = pd.read_csv("developers.csv")
df.sample(10)

     happiness language  firebase  age
188         -7     node         0    8
174         82   python         1   75
152         86        c         1   17
50          31   python         0   61
46          49   python         0   50
60          13   python         0   59
83          70     node         1   42
180         90   python         1   68
25           5        c         0   87
106         25       c#         1   16